In [1]:
import pandas as pd

In [7]:
result = pd.read_csv('./ex3.txt', sep='\s+')
print(result)
print(type(result))

            A        B        C
aaa -0.245645 -1.32151 -0.11531
bbb -2.212645 -1.33151 -2.11571
ccc -3.241645 -1.34551 -0.13591
ddd -0.245345 -1.32951 -1.11531
eee -3.241645 -1.34551 -0.13591
fff -0.245345 -1.32951 -1.11531
<class 'pandas.core.frame.DataFrame'>

In [9]:
result2 = pd.read_csv('./ex3.txt', skiprows=[0,2,3])
print(result2)
print(pd.isnull(result2))
print(type(result2))

   aaa -0.2456454 -1.32151 -0.11531
0  ddd -0.2453453 -1.32951 -1.11531
1  eee -3.2416454 -1.34551 -0.13591
2  fff -0.2453453 -1.32951 -1.11531
   aaa -0.2456454 -1.32151 -0.11531
0                             False
1                             False
2                             False
<class 'pandas.core.frame.DataFrame'>

In [12]:
result = pd.read_table('./ex3.txt', sep='\s+', na_values={'B':0, 'C':-999})
print(type(result))
print()
print(result.info())

<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, aaa to fff
Data columns (total 3 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
dtypes: float64(3)
memory usage: 192.0+ bytes
None

# Pickle 파일 테스트해보기(P258)
 - Pickle 파일은 오래 보관할 필요가 없는 데이터일 경우에만 추천, 시간이 지나도 안정적으로 데이터를 저장할거라고 보장하기 힘든 문제가 있다.
 
# Bcolz
 - 압축 알고리즘에 기반한 압축이 가능한 컬럼지향 바이너리 포맷
 
# Feather
 - R 커뮤니티와 책 저자가 함께 설계한 컬럼지향 파일형식. 아파치 에로우의 메모리 포맷을 사용

In [14]:
#오라클 과 연동하여 데이터 불러와보기
import cx_Oracle
import sqlalchemy as sqla
import pandas as pd
import numpy as np

In [17]:
db = sqla.create_engine("oracle+cx_oracle://scott:oracle@127.0.0.1:1521/orcl")
result = pd.read_sql('select *from dept',db)

In [18]:
result

   deptno       dname       loc
0      70        빅데이터      None
1      60          IT      None
2      80       빅데이터2      None
3      90       빅데이터2      None
4      10  ACCOUNTING  NEW YORK
5      20    RESEARCH    DALLAS
6      30       SALES   CHICAGO
7      40  OPERATIONS    BOSTON