In [1]:
from myapp.models import User, Order, Product
from django.contrib.auth.models import User as SUser
from django.db.models import Q

In [4]:
data = User.objects.all()

In [9]:
User??

In [12]:
from django.db import connection 
User.objects.all().order_by('-id')[:10]
connection.queries[-1]

{'sql': 'SELECT "myapp_user"."userid", "myapp_user"."name", "myapp_user"."age", "myapp_user"."hobby" FROM "myapp_user" LIMIT 1',
 'time': '0.000'}

In [20]:
SUser??

In [21]:
qs = SUser.objects.all()
print(qs)

qs.filter(username__contains='ck')

<QuerySet [<User: ckt>, <User: foo>]>

In [27]:
qs.filter( username='ckt')

In [28]:
qs.filter( Q(username__contains='c')  & Q(username__contains='k'))

In [30]:
qs.filter( ~Q(username__contains='h') )

In [26]:
qs.order_by('username')

In [31]:
connection.queries[-1]

{'sql': 'SELECT "auth_user"."id", "auth_user"."password", "auth_user"."last_login", "auth_user"."is_superuser", "auth_user"."username", "auth_user"."first_name", "auth_user"."last_name", "auth_user"."email", "auth_user"."is_staff", "auth_user"."is_active", "auth_user"."date_joined" FROM "auth_user" WHERE NOT ("auth_user"."username" LIKE \'%h%\' ESCAPE \'\\\') LIMIT 21',
 'time': '0.000'}

In [33]:
qs.select_related()  #qs.select_related('key') 
qs.extra(tables=[], where=[])

In [46]:
qs = Product.objects.all().select_related()

In [47]:
print(qs)

<QuerySet [<Product: 김유신-물건사기-2020-02-16 05:32:58.548176+00:00:마우스 / 300>, <Product: 김유신-물건사기-2020-02-16 05:32:58.548176+00:00:마스크 / 500>]>

In [37]:
connection.queries[-1]

{'sql': 'SELECT "myapp_order"."id", "myapp_order"."user_id", "myapp_order"."desc", "myapp_order"."order_date", "myapp_user"."userid", "myapp_user"."name", "myapp_user"."age", "myapp_user"."hobby" FROM "myapp_order" INNER JOIN "myapp_user" ON ("myapp_order"."user_id" = "myapp_user"."userid") LIMIT 21',
 'time': '0.000'}

In [66]:
rawQuerySet = User.objects.raw('select userid, age, age+10 as age2 from myapp_user')
for r in rawQuerySet :
    print(r.age2)

40

In [69]:
User.objects.raw('SELECT max(age ) FROM myapp_user')

In [73]:
cursor = connection.cursor()
cursor.execute('SELECT max(age) from myapp_user')
max_value = cursor.fetchone()[0]

print(max_value)

30

In [92]:
cursor = connection.cursor()
cursor.execute('SELECT age as age2, hobby from myapp_user')
results = cursor.fetchall()

In [86]:
print(type(results))

<class 'list'>

In [87]:
results[0]

(30, '장군놀이')

In [88]:
for r in results :
    print(r)

(30, '장군놀이')

In [89]:
cursor.description

(('age2', None, None, None, None, None, None),
 ('hobby', None, None, None, None, None, None))

In [95]:
def dictfetchall(cursor):
    "Returns all rows from a cursor as a dict"
    desc = cursor.description
    return [
        dict(zip([col[0] for col in desc], row))
        for row in cursor.fetchall()
    ]

cursor = connection.cursor()
cursor.execute('SELECT age as age2, hobby from myapp_user')
d = dictfetchall(cursor)
print(d)

[{'age2': 30, 'hobby': '장군놀이'}]

# blog

In [9]:
from myapp.models import Post
from django.contrib.auth.models import User
from django.utils import timezone

In [7]:
User.objects.all()
me = User.objects.get(username='ckt') 
print(me)

ckt

In [11]:
p= Post.objects.create(author=me, title='Sample title', text="Test")
print(p.pk)
p.title ="안녕하세요"
p.save()

In [8]:
post = Post.objects.get(title="Sample title") 
post.publish()

In [16]:
print(Post.objects.order_by('-created_date') )  # 최근순서 문저(내림차순

<QuerySet [<Post: 4444>, <Post: 안녕하세요>, <Post: Sample title>, <Post: Sample title>]>

In [27]:
print(p)

안녕하세요

In [30]:
from django.test import RequestFactory

rf =  RequestFactory()
url = '/detailpost?pk=14'
my_request = rf.get(url)

In [31]:
from myapp import views
response = views.index(my_request)

In [34]:
print(type(response))

<class 'django.http.response.HttpResponse'>

In [37]:
print(response.content.decode())

tempalte h1^^^

<form action=/myformviewg2 method=post >
  <input type='hidden' name='csrfmiddlewaretoken' value='BzH4lfVleGfHTJTWJ59dlfYXZrtviUNfENNwqbhcM7mI9XD1VhOpJgFB3DeaIvA4' />
  <table>
  <tr><th><label for="id_age">나이:</label></th><td><input type="text" name="age" maxlength="3" required id="id_age" /></td></tr>
<tr><th><label for="id_memo">메모:</label></th><td><textarea name="memo" cols="40" rows="10" required id="id_memo">
</textarea></td></tr>
<tr><th><label for="id_hobby">취미:</label></th><td><input type="text" name="hobby" maxlength="4" required id="id_hobby" /></td></tr>
  </table>
  <input type=submit name=id value="ok">
</form>