# Data Aggregation and Group Operations

In [2]:
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

## GroupBy Mechanics

In [3]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.204708  1.393406
1    a  two  0.478943  0.092908
2    b  one -0.519439  0.281746
3    b  two -0.555730  0.769023
4    a  one  1.965781  1.246435

In [5]:
grouped = df['data1'].groupby(df['key1'])
print(grouped) #data1에 키값(key1) 그룹핑

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001B0891DD688>

In [7]:
grouped.mean() # key1에 해당되는 a,b 에 해당되는 data1 값 각각의 평균

key1
a    0.746672
b   -0.537585
Name: data1, dtype: float64

In [8]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means #key1 , key2에 각각 그루핑 하여 4개가 나옴

key1  key2
a     one     0.880536
      two     0.478943
b     one    -0.519439
      two    -0.555730
Name: data1, dtype: float64

In [9]:
means.unstack()

key2       one       two
key1
a     0.880536  0.478943
b    -0.519439 -0.555730

In [10]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio']) #1차원에 해당하는 nd 어레이 객체
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California  2005    0.478943
            2006   -0.519439
Ohio        2005   -0.380219
            2006    1.965781
Name: data1, dtype: float64

In [11]:
print(df.groupby('key1').mean())
print(df.groupby(['key1', 'key2']).mean())

         data1     data2
key1
a     0.746672  0.910916
b    -0.537585  0.525384
              data1     data2
key1 key2
a    one   0.880536  1.319920
     two   0.478943  0.092908
b    one  -0.519439  0.281746
     two  -0.555730  0.769023

In [12]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

### Iterating Over Groups

In [13]:
for name, group in df.groupby('key1'): # groupby는 기본적으로 이터레이션이 지원됨
    print(name)
    print(group)

a
  key1 key2     data1     data2
0    a  one -0.204708  1.393406
1    a  two  0.478943  0.092908
4    a  one  1.965781  1.246435
b
  key1 key2     data1     data2
2    b  one -0.519439  0.281746
3    b  two -0.555730  0.769023

In [ ]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)

In [ ]:
pieces = dict(list(df.groupby('key1')))
pieces['b']

In [ ]:
df.dtypes
grouped = df.groupby(df.dtypes, axis=1)

In [ ]:
for dtype, group in grouped:
    print(dtype)
    print(group)

### Selecting a Column or Subset of Columns

df.groupby('key1')['data1']
df.groupby('key1')[['data2']]

df['data1'].groupby(df['key1'])
df[['data2']].groupby(df['key1'])

In [ ]:
df.groupby(['key1', 'key2'])[['data2']].mean()

In [ ]:
s_grouped = df.groupby(['key1', 'key2'])['data2']
s_grouped
s_grouped.mean()

### Grouping with Dicts and Series

In [20]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

               a         b         c         d         e
Joe     0.555154  1.306720 -0.440554 -0.301350  0.498791
Steve  -0.823991  1.320566  0.507965 -0.653438  0.186980
Wes    -0.391725       NaN       NaN  0.680321  0.635512
Jim    -0.757177  0.718086 -0.304273 -1.677790  0.426986
Travis -1.563740 -0.367488  1.045913  1.219954 -0.247699

In [17]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [ ]:
by_column = people.groupby(mapping, axis=1)
by_column.sum()

In [ ]:
map_series = pd.Series(mapping)
map_series
people.groupby(map_series, axis=1).count()

### Grouping with Functions

In [ ]:
people.groupby(len).sum()

In [ ]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

### Grouping by Index Levels

In [ ]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]],
                                    names=['cty', 'tenor'])
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

In [ ]:
hier_df.groupby(level='cty', axis=1).count()

## Data Aggregation

In [ ]:
df
grouped = df.groupby('key1')
grouped['data1'].quantile(0.9)

In [ ]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak)

In [ ]:
grouped.describe()

### Column-Wise and Multiple Function Application

In [21]:
tips = pd.read_csv('data/tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips[:6]

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240

In [ ]:
grouped = tips.groupby(['day', 'smoker'])

In [ ]:
grouped_pct = grouped['tip_pct']
grouped_pct.agg('mean')

In [ ]:
grouped_pct.agg(['mean', 'std', peak_to_peak])

In [ ]:
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)]) # mean 결과는 foo에 , std 결과는 bar에

In [ ]:
functions = ['count', 'mean', 'max']
result = grouped['tip_pct', 'total_bill'].agg(functions) #tip_pct 와 total_bill 에 각각 functions 적용
result

In [ ]:
result['tip_pct']

In [ ]:
ftuples = [('Durchschnitt', 'mean'), ('Abweichung', np.var)]
grouped['tip_pct', 'total_bill'].agg(ftuples)

In [ ]:
grouped.agg({'tip' : np.max, 'size' : 'sum'})
grouped.agg({'tip_pct' : ['min', 'max', 'mean', 'std'],
             'size' : 'sum'})

### Returning Aggregated Data Without Row Indexes

In [ ]:
tips.groupby(['day', 'smoker'], as_index=False).mean() #day ,smoker 기준으로 각각의 평균을 표현

## Apply: General split-apply-combine

In [ ]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]
top(tips, n=6)

In [ ]:
tips.groupby('smoker').apply(top)

In [ ]:
tips.groupby(['smoker', 'day']).apply(top, n=1, column='total_bill')

In [ ]:
result = tips.groupby('smoker')['tip_pct'].describe()
result
result.unstack('smoker')

f = lambda x: x.describe()
grouped.apply(f)

### Suppressing the Group Keys

In [ ]:
tips.groupby('smoker', group_keys=False).apply(top) #smoker 색인으로 나누지않고 정렬

### Quantile and Bucket Analysis

In [ ]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                      'data2': np.random.randn(1000)})
quartiles = pd.cut(frame.data1, 4)
quartiles[:10]

In [ ]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),
            'count': group.count(), 'mean': group.mean()}
grouped = frame.data2.groupby(quartiles)
grouped.apply(get_stats).unstack()

In [ ]:
# Return quantile numbers
grouping = pd.qcut(frame.data1, 10, labels=False)
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

### Example: Filling Missing Values with Group-Specific       Values

In [ ]:
s = pd.Series(np.random.randn(6))
s[::2] = np.nan
s
s.fillna(s.mean())

In [ ]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
          'Oregon', 'Nevada', 'California', 'Idaho']
group_key = ['East'] * 4 + ['West'] * 4
data = pd.Series(np.random.randn(8), index=states)
data

In [ ]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan
data
data.groupby(group_key).mean()

In [ ]:
fill_mean = lambda g: g.fillna(g.mean())
data.groupby(group_key).apply(fill_mean)

In [ ]:
fill_values = {'East': 0.5, 'West': -1}
fill_func = lambda g: g.fillna(fill_values[g.name])
data.groupby(group_key).apply(fill_func)

### Example: Random Sampling and Permutation

In [ ]:
# Hearts, Spades, Clubs, Diamonds
suits = ['H', 'S', 'C', 'D']
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ['A'] + list(range(2, 11)) + ['J', 'K', 'Q']
cards = []
for suit in ['H', 'S', 'C', 'D']:
    cards.extend(str(num) + suit for num in base_names)

deck = pd.Series(card_val, index=cards)

In [ ]:
deck[:13]

In [ ]:
def draw(deck, n=5):
    return deck.sample(n)
draw(deck)

In [ ]:
get_suit = lambda card: card[-1] # last letter is suit
deck.groupby(get_suit).apply(draw, n=2)

In [ ]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

### Example: Group Weighted Average and Correlation

In [ ]:
df = pd.DataFrame({'category': ['a', 'a', 'a', 'a',
                                'b', 'b', 'b', 'b'],
                   'data': np.random.randn(8),
                   'weights': np.random.rand(8)})
df

In [ ]:
grouped = df.groupby('category')
get_wavg = lambda g: np.average(g['data'], weights=g['weights'])
grouped.apply(get_wavg)

In [ ]:
close_px = pd.read_csv('examples/stock_px_2.csv', parse_dates=True,
                       index_col=0)
close_px.info()
close_px[-4:]

In [ ]:
spx_corr = lambda x: x.corrwith(x['SPX'])

In [ ]:
rets = close_px.pct_change().dropna()

In [ ]:
get_year = lambda x: x.year
by_year = rets.groupby(get_year)
by_year.apply(spx_corr)

In [ ]:
by_year.apply(lambda g: g['AAPL'].corr(g['MSFT']))

### Example: Group-Wise Linear Regression

In [ ]:
import statsmodels.api as sm
def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X['intercept'] = 1.
    result = sm.OLS(Y, X).fit()
    return result.params

In [ ]:
by_year.apply(regress, 'AAPL', ['SPX'])

## Pivot Tables and Cross-Tabulation

In [23]:
tips.pivot_table(index=['day', 'smoker']) #day, smoker 기준으로 피벗테이블 생성

                 size       tip   tip_pct  total_bill
day  smoker
Fri  No      2.250000  2.812500  0.151650   18.420000
     Yes     2.066667  2.714000  0.174783   16.813333
Sat  No      2.555556  3.102889  0.158048   19.661778
     Yes     2.476190  2.875476  0.147906   21.276667
Sun  No      2.929825  3.167895  0.160113   20.506667
     Yes     2.578947  3.516842  0.187250   24.120000
Thur No      2.488889  2.673778  0.160298   17.113111
     Yes     2.352941  3.030000  0.163863   19.190588

In [25]:
tips.pivot_table(['tip_pct', 'size'], index=['time', 'day'], #time과 day 기준으로 smoker 컬럼을 추가하고 no와 yes에 따라 tip_pct 와 size만 집계한다.
                 columns='smoker')

                 size             tip_pct
smoker             No       Yes        No       Yes
time   day
Dinner Fri   2.000000  2.222222  0.139622  0.165347
       Sat   2.555556  2.476190  0.158048  0.147906
       Sun   2.929825  2.578947  0.160113  0.187250
       Thur  2.000000       NaN  0.159744       NaN
Lunch  Fri   3.000000  1.833333  0.187735  0.188937
       Thur  2.500000  2.352941  0.160311  0.163863

In [29]:
tips.pivot_table(['tip_pct', 'size'], index=['time', 'day'], #time과 day 기준으로 smoker 컬럼을 추가하고 no와 yes에 따라 tip_pct 와 size만 집계한다. 
                 columns='smoker', margins=True) #margins=True는 부분합을 포함하도록 지정, 즉 All 이 표시되면서 흡연/비흡연을 구분하지않은 평균값을 나타냄

                 size                       tip_pct
smoker             No       Yes       All        No       Yes       All
time   day
Dinner Fri   2.000000  2.222222  2.166667  0.139622  0.165347  0.158916
       Sat   2.555556  2.476190  2.517241  0.158048  0.147906  0.153152
       Sun   2.929825  2.578947  2.842105  0.160113  0.187250  0.166897
       Thur  2.000000       NaN  2.000000  0.159744       NaN  0.159744
Lunch  Fri   3.000000  1.833333  2.000000  0.187735  0.188937  0.188765
       Thur  2.500000  2.352941  2.459016  0.160311  0.163863  0.161301
All          2.668874  2.408602  2.569672  0.159328  0.163196  0.160803

In [32]:
tips.pivot_table('tip_pct', index=['time', 'smoker'], columns='day',
                 aggfunc=len, margins=True) #aggfunc 는 All에 다른 집계함수를 나타냄, len은 단일 행의 총 합

day             Fri   Sat   Sun  Thur    All
time   smoker
Dinner No       3.0  45.0  57.0   1.0  106.0
       Yes      9.0  42.0  19.0   NaN   70.0
Lunch  No       1.0   NaN   NaN  44.0   45.0
       Yes      6.0   NaN   NaN  17.0   23.0
All            19.0  87.0  76.0  62.0  244.0

In [40]:
tips.pivot_table('tip_pct', index=['time', 'size', 'smoker'],
                 columns='day', aggfunc=['mean','sum'], fill_value=0) # fill_value는 NaN값을 해당 값으로 채운다는 거

                        mean                                     sum  \
day                      Fri       Sat       Sun      Thur       Fri
time   size smoker
Dinner 1    No      0.000000  0.137931  0.000000  0.000000  0.000000
            Yes     0.000000  0.325733  0.000000  0.000000  0.000000
       2    No      0.139622  0.162705  0.168859  0.159744  0.418867
            Yes     0.171297  0.148668  0.207893  0.000000  1.370377
       3    No      0.000000  0.154661  0.152663  0.000000  0.000000
...                      ...       ...       ...       ...       ...
Lunch  3    Yes     0.000000  0.000000  0.000000  0.204952  0.000000
       4    No      0.000000  0.000000  0.000000  0.138919  0.000000
            Yes     0.000000  0.000000  0.000000  0.155410  0.000000
       5    No      0.000000  0.000000  0.000000  0.121389  0.000000
       6    No      0.000000  0.000000  0.000000  0.173706  0.000000


day                      Sat       Sun      Thur
time   size smoker
Dinner 1    No      0.137931  0.000000  0.000000
            Yes     0.325733  0.000000  0.000000
       2    No      4.067615  4.559198  0.159744
            Yes     4.162693  2.494717  0.000000
       3    No      1.855926  1.679296  0.000000
...                      ...       ...       ...
Lunch  3    Yes     0.000000  0.000000  0.409904
       4    No      0.000000  0.000000  0.416757
            Yes     0.000000  0.000000  0.310819
       5    No      0.000000  0.000000  0.121389
       6    No      0.000000  0.000000  0.521118

[21 rows x 8 columns]

### Cross-Tabulations: Crosstab

In [ ]:
from io import StringIO
data = """\
Sample  Nationality  Handedness
1   USA  Right-handed
2   Japan    Left-handed
3   USA  Right-handed
4   Japan    Right-handed
5   Japan    Left-handed
6   Japan    Right-handed
7   USA  Right-handed
8   USA  Left-handed
9   Japan    Right-handed
10  USA  Right-handed"""
data = pd.read_table(StringIO(data), sep='\s+')

In [ ]:
data

In [ ]:
pd.crosstab(data.Nationality, data.Handedness, margins=True)

In [ ]:
pd.crosstab([tips.time, tips.day], tips.smoker, margins=True)

In [ ]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS

## Conclusion

#### 타이타닉 데이터를 이용한 피벗테이블 연습

In [62]:
import pandas as pd
import seaborn as sns

pd.set_option('display.max_columns', 10)  #출력할 최대 열 개수
pd.set_option('display.max_colwidth', 20) #출력할 최대 열 너미

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]
print(df.head())
print('\n')

pdf1 = pd.pivot_table(df, 
                             index = 'class',      #행 위치에 들어갈 열
                             columns = 'sex',    #열  위치에 들어갈 열
                             values = 'age',      #데이터로 사용할 열
                             aggfunc='mean')   #데이터 집계 함수
print(pdf1.head())
print('\n')


pdf2 = pd.pivot_table(df, 
                             index = 'class',      #행 위치에 들어갈 열
                             columns = 'sex',    #열  위치에 들어갈 열
                             values = 'survived',      #데이터로 사용할 열
                             aggfunc=['mean', 'sum'])   #데이터 집계 함수
print(pdf2.head())
print('\n')

pdf3 = pd.pivot_table(df, 
                             index = ['class', 'sex'],      #행 위치에 들어갈 열
                             columns = 'survived',    #열  위치에 들어갈 열
                             values = ['age', 'fare'],      #데이터로 사용할 열
                             aggfunc=['mean', 'max'])   #데이터 집계 함수
print(pdf3.head())
print('\n')
print(pdf3.info())

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0


sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589


            mean              sum
sex       female      male female male
class
First   0.968085  0.368852     91   45
Second  0.921053  0.157407     70   17
Third   0.500000  0.135447     72   47


                    mean                                      max        \
                     age                   fare               age
survived               0          1           0           1     0     1
class  sex
First  female  25.666667  34.939024  110.604167  105.978159  50.0  63.0
       male    44.581967  36.248000   62.894910   74.637320  71.0  80.0
Second female  36.000000  28.080882   18.250000   22.288989  57.0  55.0
       male    33.369048  16.022000   19.488965   21.095100  70.0  62.0
Third  female  23.818182  19.329787   19.773093   12.464526  48.0  63.0


                 fare
survived            0         1
class  sex
First  female  151.55  512.3292
       male    263.00  512.3292
Second female   26.00   65.0000
       male     73.50   39.0000
Third  female   69.55   31.3875


<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6 entries, (First, female) to (Third, male)
Data columns (total 8 columns):
(mean, age, 0)     6 non-null float64
(mean, age, 1)     6 non-null float64
(mean, fare, 0)    6 non-null float64
(mean, fare, 1)    6 non-null float64
(max, age, 0)      6 non-null float64
(max, age, 1)      6 non-null float64
(max, fare, 0)     6 non-null float64
(max, fare, 1)     6 non-null float64
dtypes: float64(8)
memory usage: 645.0+ bytes
None

In [47]:
df['class']

0       Third
1       First
2       Third
3       First
4       Third
        ...
886    Second
887     First
888     Third
889     First
890     Third
Name: class, Length: 891, dtype: category
Categories (3, object): [First, Second, Third]

In [99]:
# print(pdf3.head())
# print(pdf3.index)
# print(pdf3.columns)
df = titanic.loc[:, ['age', 'sex', 'class', 'fare', 'survived']]


print(pdf3.xs('First'))   #행 인덱스가 First인 행 선택
pdf3.xs(('First','female')) #행 인덱스가 first이고 female인 행 선택
print(pdf3.xs('mean', axis=1))   #열 인덱스가 mean인 데이터 선택
print(pdf3.xs(('mean', 'age'), axis=1))
#print(pdf3.xs(1, level='survived', axis=1))  #survived 레벨이 1인 데이터 선택 ,suvived 에러남

pd.crosstab(df['class'], df['sex'],  margins=True) # 교차 빈도 테이블

#pd.crosstab([df['class'], df['sex']],  survived,  margins=True) # 교차 빈도 테이블 ,,suvived 에러남

               mean                                      max                \
                age                   fare               age          fare
survived          0          1           0           1     0     1       0
sex
female    25.666667  34.939024  110.604167  105.978159  50.0  63.0  151.55
male      44.581967  36.248000   62.894910   74.637320  71.0  80.0  263.00



survived         1
sex
female    512.3292
male      512.3292
                     age                   fare
survived               0          1           0           1
class  sex
First  female  25.666667  34.939024  110.604167  105.978159
       male    44.581967  36.248000   62.894910   74.637320
Second female  36.000000  28.080882   18.250000   22.288989
       male    33.369048  16.022000   19.488965   21.095100
Third  female  23.818182  19.329787   19.773093   12.464526
       male    27.255814  22.274211   12.204469   15.579696
survived               0          1
class  sex
First  female  25.666667  34.939024
       male    44.581967  36.248000
Second female  36.000000  28.080882
       male    33.369048  16.022000
Third  female  23.818182  19.329787
       male    27.255814  22.274211

sex     female  male  All
class
First       94   122  216
Second      76   108  184
Third      144   347  491
All        314   577  891