## 시계열데이터 실습_1

In [1]:
#######################TimeStamp 객체 생성과 인덱스 지정 ##############
import pandas as pd

df = pd.read_csv("./data/stock-data.csv")
print(df.head())
print(df.info())

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
Date      20 non-null object
Close     20 non-null int64
Start     20 non-null int64
High      20 non-null int64
Low       20 non-null int64
Volume    20 non-null int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None

In [2]:
#문자열 데이터를 pandas의  Timestamp로 변환해서 새로운 열로 추가 
df['new_Date'] = pd.to_datetime(df['Date'])  
print(df.head())
print(df.info())
print()

         Date  Close  Start   High    Low  Volume   new_Date
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
Date        20 non-null object
Close       20 non-null int64
Start       20 non-null int64
High        20 non-null int64
Low         20 non-null int64
Volume      20 non-null int64
new_Date    20 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.2+ KB
None

In [3]:
print(type(df['new_Date']))
print(type(df['new_Date'][0])) 
df['new_Date']

<class 'pandas.core.series.Series'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

0    2018-07-02
1    2018-06-29
2    2018-06-28
3    2018-06-27
4    2018-06-26
5    2018-06-25
6    2018-06-22
7    2018-06-21
8    2018-06-20
9    2018-06-19
10   2018-06-18
11   2018-06-15
12   2018-06-14
13   2018-06-12
14   2018-06-11
15   2018-06-08
16   2018-06-07
17   2018-06-05
18   2018-06-04
19   2018-06-01
Name: new_Date, dtype: datetime64[ns]

In [4]:
df.set_index('new_Date', inplace=True)
df.drop('Date', axis=1, inplace=True)
print(df.head())
print(df.info())

            Close  Start   High    Low  Volume
new_Date
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2018-07-02 to 2018-06-01
Data columns (total 5 columns):
Close     20 non-null int64
Start     20 non-null int64
High      20 non-null int64
Low       20 non-null int64
Volume    20 non-null int64
dtypes: int64(5)
memory usage: 960.0 bytes
None

In [12]:
########################Timestamp를 Period로 변환#########################
import pandas as pd

dates = ['2019-01-01', '2020-03-01', '2021-06-01']

ts_dates= pd.to_datetime(dates)  #Timestamp로 변환
print(ts_dates)

pr_day = ts_dates.to_period(freq='D') #Timestamp를 Period로 변환
print(pr_day)

pr_month = ts_dates.to_period(freq='M')
print(pr_month)

pr_year = ts_dates.to_period(freq='A')
print(pr_year)

DatetimeIndex(['2019-01-01', '2020-03-01', '2021-06-01'], dtype='datetime64[ns]', freq=None)
PeriodIndex(['2019-01-01', '2020-03-01', '2021-06-01'], dtype='period[D]', freq='D')
PeriodIndex(['2019-01', '2020-03', '2021-06'], dtype='period[M]', freq='M')
PeriodIndex(['2019', '2020', '2021'], dtype='period[A-DEC]', freq='A-DEC')

In [27]:
import pandas as pd

ts_ms = pd.date_range(start='2019-01-01',
                   end=None,
                   periods=6,
                   freq='MS' ,   #월의 시작일 시간 간격
                   tz = 'Asia/Seoul')
print("#월 시작일 시간 간격\n" ,ts_ms)

ts_me = pd.date_range(start='2019-01-01',
                   end=None,
                   periods=6,
                   freq='M' ,   #월의 마지막날 시간 간격
                   tz = 'Asia/Seoul')
print("\n#월의 마지막날 시간 간격\n" ,ts_me)

ts_3m = pd.date_range(start='2019-01-01',
                   end=None,
                   periods=6,
                   freq='3M' ,   #3개월 시간 간격
                   tz = 'Asia/Seoul')
print("\n#3개월 시간 간격\n" ,ts_3m)


pr_m = pd.period_range(start='2019-01-01',
                   end=None,
                   periods=3,
                   freq='M')   #기간의 길이는 (M:월)
print("\n#기간의 길이는 (M:월)\n" ,pr_m)

pr_h = pd.period_range(start='2019-01-01',
                   end=None,
                   periods=3,
                   freq='H')   #기간의 길이는 (H: 시간)
print("\n#기간의 길이는 (H: 시간)\n" ,pr_h)

pr_5h = pd.period_range(start='2019-01-01',
                   end=None,
                   periods=3,
                   freq='5H')   #기간의 길이는 (5H: 5시간)
print("\n#기간의 길이는 (5H: 5시간)\n" ,pr_5h)

#월 시작일 시간 간격
 DatetimeIndex(['2019-01-01 00:00:00+09:00', '2019-02-01 00:00:00+09:00',
               '2019-03-01 00:00:00+09:00', '2019-04-01 00:00:00+09:00',
               '2019-05-01 00:00:00+09:00', '2019-06-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='MS')

#월의 마지막날 시간 간격
 DatetimeIndex(['2019-01-31 00:00:00+09:00', '2019-02-28 00:00:00+09:00',
               '2019-03-31 00:00:00+09:00', '2019-04-30 00:00:00+09:00',
               '2019-05-31 00:00:00+09:00', '2019-06-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='M')

#3개월 시간 간격
 DatetimeIndex(['2019-01-31 00:00:00+09:00', '2019-04-30 00:00:00+09:00',
               '2019-07-31 00:00:00+09:00', '2019-10-31 00:00:00+09:00',
               '2020-01-31 00:00:00+09:00', '2020-04-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='3M')

#기간의 길이는 (M:월)
 PeriodIndex(['2019-01', '2019-02', '2019-03'], dtype='period[M]', freq='M')

#기간의 길이는 (H: 시간)
 PeriodIndex(['2019-01-01 00:00', '2019-01-01 01:00', '2019-01-01 02:00'], dtype='period[H]', freq='H')

#기간의 길이는 (5H: 5시간)
 PeriodIndex(['2019-01-01 00:00', '2019-01-01 05:00', '2019-01-01 10:00'], dtype='period[5H]', freq='5H')

## 시계열데이터실습_2

In [33]:
df = pd.read_csv("./data/stock-data.csv")
print(df.head())
print(df.info())

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
Date      20 non-null object
Close     20 non-null int64
Start     20 non-null int64
High      20 non-null int64
Low       20 non-null int64
Volume    20 non-null int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None

In [34]:
#문자열 데이터를 pandas의  Timestamp로 변환해서 새로운 열로 추가 
df['new_Date'] = pd.to_datetime(df['Date'])  
print(df.head())
print(df.info())

         Date  Close  Start   High    Low  Volume   new_Date
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
Date        20 non-null object
Close       20 non-null int64
Start       20 non-null int64
High        20 non-null int64
Low         20 non-null int64
Volume      20 non-null int64
new_Date    20 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.2+ KB
None

In [39]:
df['Year'] = df['new_Date'].dt.year
df['Month'] = df['new_Date'].dt.month
df['Day'] = df['new_Date'].dt.day
df.head(5)

         Date  Close  Start   High    Low  Volume   new_Date  Year  Month  Day
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018      7    2
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018      6   29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018      6   28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018      6   27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018      6   26

In [41]:
df['Date_yr'] = df['new_Date'].dt.to_period(freq='A')
df['Date_m'] = df['new_Date'].dt.to_period(freq='M')
df['Date_d'] = df['new_Date'].dt.to_period(freq='D')
df.head(5)

,Date,Close,Start,High,Low,Volume,new_Date,Year,Month,Day,Date_yr,Date_m,Date_d
0,2018-07-02,10100,10850,10900,10000,137977,2018-07-02,2018,7,2,2018,2018-07,2018-07-02
1,2018-06-29,10700,10550,10900,9990,170253,2018-06-29,2018,6,29,2018,2018-06,2018-06-29
2,2018-06-28,10400,10900,10950,10150,155769,2018-06-28,2018,6,28,2018,2018-06,2018-06-28
3,2018-06-27,10900,10800,11050,10500,133548,2018-06-27,2018,6,27,2018,2018-06,2018-06-27
4,2018-06-26,10800,10900,11000,10700,63039,2018-06-26,2018,6,26,2018,2018-06,2018-06-26

## 시계열데이터실습_3

In [51]:
df = pd.read_csv("./data/stock-data.csv")
print(df.head())
print(df.info())

#문자열 데이터를 pandas의  Timestamp로 변환해서 새로운 열로 추가 
df['new_Date'] = pd.to_datetime(df['Date']) 
df.set_index('new_Date', inplace=True)
print(df.head(5))
print(df.info())

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
Date      20 non-null object
Close     20 non-null int64
Start     20 non-null int64
High      20 non-null int64
Low       20 non-null int64
Volume    20 non-null int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None
                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2018-07-02 to 2018-06-01
Data columns (total 6 columns):
Date      20 non-null object
Close     20 non-null int64
Start     20 non-null int64
High      20 non-null int64
Low       20 non-null int64
Volume    20 non-null int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB
None

In [53]:
df_y = df['2018'] #인덱스가 시계열데이터일 경우 이렇게 조회 된다
print(df_y.head(3))
df_ym = df['2018-07'] # 이것도 된다
print(df_ym)

                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977

In [54]:
df_ym_cols = df.loc['2018-07', 'Start':'High']
print(df_ym_cols)

df_ymd_range =df.loc['2018-06-25': '2018-06-20']
print(df_ymd_range)

            Start   High
new_Date
2018-07-02  10850  10900
                  Date  Close  Start   High    Low  Volume
new_Date
2018-06-25  2018-06-25  11150  11400  11450  11000   55519
2018-06-22  2018-06-22  11300  11250  11450  10750  134805
2018-06-21  2018-06-21  11200  11350  11750  11200  133002
2018-06-20  2018-06-20  11550  11200  11600  10900  308596