# EDA 탐색적 분석

In [106]:
#함수 호출
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [108]:
#csv 파일 호출
df = pd.read_excel('./data/seoul_2014to2018_cctv_pop_crime2.xlsx')
df.head(3)
df.info()

,년도,자치구,CCTV 수,세대,인구 합계,한국인,등록외국인,범죄 합계,살인,강도,강간강제추행,절도,폭력
0,2014.0,강남구,430,234324,576868,571509,5359,8851,13,37,512,3895,4394
1,NaN,강동구,59,186239,484191,479586,4605,5392,5,10,148,2425,2804
2,NaN,강북구,74,141139,339671,336363,3308,4030,6,21,189,1494,2320

In [110]:
#결측치 처리
df['년도'].fillna(method='ffill' ,inplace=True)

#'년도'컬럼 형변환 - float->int->str
df['년도'] = df['년도'].astype(int)
#피벗테이블로 변환
df = df.pivot_table(index=['자치구','년도'])
#print(df)
#지역별 리스트 생성, 중복제거, 총 25개의 구로 나뉨
seoul_area = []
for i,j in df.index:
    seoul_area.append(i)
seoul_area = list(set(seoul_area))
#print(len(seoul_area))
#print(seoul_area)

#조회
# for i in seoul_area:
#     print(i)
#     print(df.loc[(i)])

In [114]:
#자치구 별로 csv파일로 추출
for i in seoul_area:
    df.loc[(i)].to_csv('./seoul/'+i+'.csv',encoding='cp949')

## 1.강남구 분석

In [118]:
gdf = pd.read_csv('./seoul/강남구.csv', encoding='cp949')
gdf

,년도,CCTV 수,강간강제추행,강도,등록외국인,범죄 합계,살인,세대,인구 합계,절도,폭력,한국인
0,2014,430,512,37,5359,8851,13,234324,576868,3895,4394,571509
1,2015,976,449,21,5325,8617,13,237556,582206,3850,4284,576881
2,2016,1741,516,39,5084,8149,5,235329,575597,3587,4002,570512
3,2017,2318,607,20,4929,7720,7,233311,566427,3130,3956,561497
4,2018,2766,600,14,4978,7513,10,229509,551615,3004,3885,546637