In [1]:
import pandas as pd

In [14]:
file_path = './datas/datas/read_csv_sample.csv'
file_path2 = './datas/datas/남북한발전전력량.xlsx'

## CSV 파일 호출

In [13]:
df = pd.read_csv(file_path)
print(df)
print(type(df))
print(df.dtypes)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
<class 'pandas.core.frame.DataFrame'>
c0    int64
c1    int64
c2    int64
c3    int64
dtype: object

In [12]:
df2 = pd.read_csv(file_path, header=None)
print(df2)
print(type(df2))
df2.columns

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9
<class 'pandas.core.frame.DataFrame'>

Int64Index([0, 1, 2, 3], dtype='int64')

In [11]:
df3 = pd.read_csv(file_path, index_col=None)
print(df3)
print(type(df3))
df3.columns

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
<class 'pandas.core.frame.DataFrame'>

Index(['c0', 'c1', 'c2', 'c3'], dtype='object')

In [10]:
df4 = pd.read_csv(file_path, index_col='c0')
print(df4)
print(type(df4))

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9
<class 'pandas.core.frame.DataFrame'>

## 엑셀 파일 호출

In [17]:
df = pd.read_excel(file_path2)
print(df)
print(type(df))
print(df.dtypes)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
전력량 (억㎾h)    object
발전 전력별       object
1990         object
1991         object
1992         object
1993         object
1994         object
1995         object
1996         object
1997         object
1998         object
1999         object
2000         object
2001         object
2002         object
2003         object
2004         object
2005         object
2006         object
2007         object
2008         object
2009         object
2010         object
2011         object
2012         object
2013         object
2014         object
2015         object
2016         object
dtype: object

In [16]:
df1 = pd.read_excel(file_path2, header=None)
print(df1)
print(type(df1))
print(df1.dtypes)

          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
dtype: object