In [2]:
import pandas as pd

In [6]:
file_path = './datas/datas/df_sample.json'

In [7]:
#json 파일 불러오기
df = pd.read_json(file_path)
print(df)
print(df.index)
print(df.columns)

      algol basic c++
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+
Index(['Jerry', 'Riah', 'Paul'], dtype='object')
Index(['algol', 'basic', 'c++'], dtype='object')

In [14]:
#html 파일 불러오기
file_path = './datas/datas/sample.html'
tables = pd.read_html(file_path)
#print(len(tables))
#print(tables)
for i in range(len(tables)):
    print("tables[%s]" % i)
    print(tables[i])

df = tables[1]
df.set_index(['name'], inplace=True)
df

tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9
tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

In [16]:
#csv 파일로 저장하기
exam_data= {'이름' : ['영희', '철수', '삼식'],
                  '수학': [90,80,70],
                  '영어': [95,89,90],
                  '국어': [100,80,75],
                  '과학': [70,70,70]}
df = pd.DataFrame(exam_data)
df.set_index('이름', inplace=True)
print(df)
df.to_csv('./20191217_csv출력.csv')

    수학  영어   국어  과학
이름
영희  90  95  100  70
철수  80  89   80  70
삼식  70  90   75  70

In [17]:
#json 파일로 저장하기
exam_data= {'이름' : ['영희', '철수', '삼식'],
                  '수학': [90,80,70],
                  '영어': [95,89,90],
                  '국어': [100,80,75],
                  '과학': [70,70,70]}
df = pd.DataFrame(exam_data)
df.set_index('이름', inplace=True)
print(df)
df.to_json('./20191217_json출력.json')

    수학  영어   국어  과학
이름
영희  90  95  100  70
철수  80  89   80  70
삼식  70  90   75  70

In [18]:
#excel 파일로 저장
exam_data= {'이름' : ['영희', '철수', '삼식'],
                  '수학': [90,80,70],
                  '영어': [95,89,90],
                  '국어': [100,80,75],
                  '과학': [70,70,70]}
df = pd.DataFrame(exam_data)
df.set_index('이름', inplace=True)
print(df)
df.to_excel('./20191217_excel출력.xlsx')

    수학  영어   국어  과학
이름
영희  90  95  100  70
철수  80  89   80  70
삼식  70  90   75  70

In [21]:
#excel writer 함수 사용해보기
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9], 'c3': [10,11,12], 'c4': [13,14,15]}
df2 = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df2)

writer = pd.ExcelWriter("./df_excel_writer.xlsx")
df.to_excel(writer, sheet_name = 'sheet1')
df2.to_excel(writer, sheet_name = 'sheet2')
writer.save()

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15