In [3]:
import pandas as pd
import numpy as np

In [4]:
#데이터 프레임에 함수 적용
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah    0.566097  0.459828 -0.936911
Ohio   -0.956075 -2.765537  1.214602
Texas  -0.904231  0.220934  0.836094
Oregon -0.508437 -0.781733 -0.387229

In [6]:
np.abs(frame)   #numpy의 유니버셜 함수를 데이터프레임 객체에 적용 가능

               b         d         e
Utah    0.566097  0.459828  0.936911
Ohio    0.956075  2.765537  1.214602
Texas   0.904231  0.220934  0.836094
Oregon  0.508437  0.781733  0.387229

In [7]:
#apply 함수, 컬럼 또는 로우의 1차원 배열에 함수를 적용
f = lambda x: x.max() - x.min()
frame.apply(f)

b    1.522172
d    3.225364
e    2.151513
dtype: float64

In [8]:
#applymap 함수, 배열의 각 원소에 적용
format = lambda x: '%.2f' % x
frame.applymap(format)

            b      d      e
Utah     0.57   0.46  -0.94
Ohio    -0.96  -2.77   1.21
Texas   -0.90   0.22   0.84
Oregon  -0.51  -0.78  -0.39