In [1]:
#금융데이터 관련 패키지 설치
#conda install pandas-datareader
import pandas_datareader.data as web

In [2]:
import pandas as pd

In [3]:
all_data = {ticker: web.get_data_yahoo(ticker)
           for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [4]:
returns = price.pct_change()

returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2019-12-10  0.005844 -0.000075 -0.001520  0.000819
2019-12-11  0.008529 -0.001120  0.003772  0.000268
2019-12-12  0.002548  0.011663  0.010152  0.003903
2019-12-13  0.013593 -0.008203  0.008418 -0.001807
2019-12-16  0.017118 -0.000596  0.006471  0.009897

In [5]:
returns['MSFT'].corr(returns['IBM'])

0.4879996206338405

In [6]:
returns['MSFT'].cov(returns['IBM'])

9.348465031382588e-05

In [7]:
returns.MSFT.corr(returns.IBM)

0.4879996206338405

In [8]:
returns.corr() #상관관계

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.402014  0.575064  0.521959
IBM   0.402014  1.000000  0.488000  0.411852
MSFT  0.575064  0.488000  1.000000  0.658773
GOOG  0.521959  0.411852  0.658773  1.000000

In [9]:
returns.cov() #공분산

          AAPL       IBM      MSFT      GOOG
AAPL  0.000246  0.000082  0.000133  0.000124
IBM   0.000082  0.000169  0.000093  0.000081
MSFT  0.000133  0.000093  0.000217  0.000147
GOOG  0.000124  0.000081  0.000147  0.000229

In [11]:
type(returns)

pandas.core.frame.DataFrame

In [12]:
returns.dtypes

AAPL    float64
IBM     float64
MSFT    float64
GOOG    float64
dtype: object

In [13]:
returns.corrwith(returns.IBM)

AAPL    0.402014
IBM     1.000000
MSFT    0.488000
GOOG    0.411852
dtype: float64

In [14]:
returns.corrwith(volume)

AAPL   -0.117818
IBM    -0.129091
MSFT   -0.084372
GOOG   -0.000865
dtype: float64