## datas 압축파일을 받아서  '경기도인구데이터'.csv파일을 이용하여 다음 내용을 파이썬  numpy라이브러리를 사용해서 결과를 출력하세요
1. 파일 내용을 읽은 후 상위 5개 데이터 확인
2. 배열 객체의 크기 확인 
3. 중복 지역 존재 여부 확인  
4. 2017년 수원시 인구의 합
5. 2017년 인구가 50만이상이 지역 출력
6. 2017년 경기도 전체 인구의 시별 인구 평균

In [1]:

import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("C:/Users/student/KMH/Image-analysis-and-develope/python/20191216/datas/datas/경기도인구데이터.csv", encoding="cp949")

In [11]:
df.dtypes

구분      object
2007     int64
2008     int64
2009     int64
2010     int64
2011     int64
2012     int64
2013     int64
2014     int64
2015     int64
2016     int64
2017     int64
dtype: object

## 1. 파일 내용을 읽은 후 상위 5개 데이터 확인

In [12]:
df.head(5)

,구분,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,수원시장안구,287474,285803,290798,293692,290999,291757,300908,301196,299016,296479,293828
1,수원시권선구,310553,308177,304097,306783,321176,332633,331773,339835,351053,358393,365653
2,수원시팔달구,216945,213235,219833,216503,209772,206794,204805,203479,199180,198515,193311
3,수원시영통구,252730,260210,258421,260557,266542,289074,310671,329718,335375,340654,349836
4,성남시수정구,256744,248452,242161,241070,236123,233997,228167,223539,219531,232841,236932

## 2. 배열 객체의 크기 확인

In [13]:
df.shape

(44, 12)

## 3. 중복 지역 존재 여부 확인

In [63]:
#중복 지역은 없다.
any(df['구분'].duplicated()) #any는 True가 하나 나와도 True로 반환

False

## 4. 2017년 수원시 인구의 합

In [45]:
pop_sum = 0
for i in range(len(df)):
    if df.loc[ i,'구분'].startswith('수원시'):
        print(df.loc[ i,'구분'] , df.loc[i,'2017'])
        pop_sum += df.loc[i,'2017']
    
print("2017년 수원시 인구의 합: ",pop_sum)

수원시장안구 293828
수원시권선구 365653
수원시팔달구 193311
수원시영통구 349836
2017년 수원시 인구의 합:  1202628

## 5. 2017년 인구가 50만이상이 지역 출력

In [49]:
for i in range(len(df)):
    if df.loc[i,'2017'] > 500000:
        print(df.loc[ i,'구분'] , "인구수: " ,df.loc[i,'2017'])

성남시분당구 인구수:  500212
남양주시 인구수:  665321
화성시 인구수:  691086

## 6. 2017년 경기도 전체 인구의 시별 인구 평균

In [70]:
#print(np.mean(df.loc[: , '2017']))
dict_list = {}
sum_v = 0
for i in range(len(df)):
    temp_str = df.loc[i,'구분']
    
    dict_list[df.loc[i,'구분']] = 0
    
    
    for j in range(len(df)):
        
        dict_list[df.loc[j,'구분']] += df.loc[j,'2017']


dict_list

{'수원시장안구': 0,
 '수원시권선구': 0,
 '수원시팔달구': 0,
 '수원시영통구': 0,
 '성남시수정구': 0,
 '성남시중원구': 0,
 '성남시분당구': 0,
 '의정부시': 0,
 '안양시만안구': 0,
 '안양시동안구': 0,
 '부천시원미구': 0,
 '부천시소사구': 0,
 '부천시오정구': 0,
 '광명시': 0,
 '평택시': 0,
 '동두천시': 0,
 '안산시상록구': 0,
 '안산시단원구': 0,
 '고양시덕양구': 0,
 '고양시일산동구': 0,
 '고양시일산서구': 0,
 '과천시': 0,
 '구리시': 0,
 '남양주시': 0,
 '오산시': 0,
 '시흥시': 0,
 '군포시': 0,
 '의왕시': 0,
 '하남시': 0,
 '용인시처인구': 0,
 '용인시기흥구': 0,
 '용인시수지구': 0,
 '파주시': 0,
 '이천시': 0,
 '안성시': 0,
 '김포시': 0,
 '화성시': 0,
 '광주시': 0,
 '양주시': 0,
 '포천시': 0,
 '여주시': 0,
 '연천군': 0,
 '가평군': 0,
 '양평군': 0}

In [73]:
a = '군포시'
a.find('시')

2