## datas 압축파일을 받아서  '경기도인구데이터'.csv파일을 이용하여 다음 내용을 파이썬  numpy라이브러리를 사용해서 결과를 출력하세요
1. 파일 내용을 읽은 후 상위 5개 데이터 확인
2. 배열 객체의 크기 확인 
3. 중복 지역 존재 여부 확인  
4. 2017년 수원시 인구의 합
5. 2017년 인구가 50만이상이 지역 출력
6. 2017년 경기도 전체 인구의 시별 인구 평균

In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("C:/Users/student/KMH/Image-analysis-and-develope/python/20191216/datas/datas/경기도인구데이터.csv", encoding="cp949")

In [16]:
df.dtypes

구분      object
2007     int64
2008     int64
2009     int64
2010     int64
2011     int64
2012     int64
2013     int64
2014     int64
2015     int64
2016     int64
2017     int64
dtype: object

## 1. 파일 내용을 읽은 후 상위 5개 데이터 확인

In [17]:
df.head(5)

,구분,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,수원시장안구,287474,285803,290798,293692,290999,291757,300908,301196,299016,296479,293828
1,수원시권선구,310553,308177,304097,306783,321176,332633,331773,339835,351053,358393,365653
2,수원시팔달구,216945,213235,219833,216503,209772,206794,204805,203479,199180,198515,193311
3,수원시영통구,252730,260210,258421,260557,266542,289074,310671,329718,335375,340654,349836
4,성남시수정구,256744,248452,242161,241070,236123,233997,228167,223539,219531,232841,236932

## 2. 배열 객체의 크기 확인

In [18]:
df.shape

(44, 12)

## 3. 중복 지역 존재 여부 확인

In [19]:
#중복 지역은 없다.
any(df['구분'].duplicated()) #any는 True가 하나 나와도 True로 반환

False

## 4. 2017년 수원시 인구의 합

In [20]:
pop_sum = 0
for i in range(len(df)):
    if df.loc[ i,'구분'].startswith('수원시'):
        print(df.loc[ i,'구분'] , df.loc[i,'2017'])
        pop_sum += df.loc[i,'2017']
    
print("2017년 수원시 인구의 합: ",pop_sum)

수원시장안구 293828
수원시권선구 365653
수원시팔달구 193311
수원시영통구 349836
2017년 수원시 인구의 합:  1202628

## 5. 2017년 인구가 50만이상이 지역 출력

In [21]:
for i in range(len(df)):
    if df.loc[i,'2017'] > 500000:
        print(df.loc[ i,'구분'] , "인구수: " ,df.loc[i,'2017'])

성남시분당구 인구수:  500212
남양주시 인구수:  665321
화성시 인구수:  691086

## 6. 2017년 경기도 전체 인구의 시별 인구 평균

In [22]:
import re

#print(np.mean(df.loc[: , '2017']))
dict_list = {}
sum_v = 0
# for i in range(len(df)):
#     temp_str = df.loc[i,'구분']
#     if re.search('..시',temp_str)









# for i in range(len(df)):
#     temp_str = df.loc[i,'구분']
#     print(temp_str)
#     if temp_str.find('시') > 1:
#         end_v = temp_str.find('시')
#         dict_list[temp_str[:end_v+1]] = [0,0]

#     elif temp_str.find('군') > 1:
#         end_v = temp_str.find('군')
#         dict_list[temp_str[:end_v+1]] = [0,0]
        
#     #dict_list[df.loc[i,'구분']] = 0

dict_list

{}

In [23]:
a = "hi my name is myoung Hwan kim"
print(re.search())

TypeError: search() missing 2 required positional arguments: 'pattern' and 'string'

In [24]:
df.values

array([['수원시장안구', 287474, 285803, 290798, 293692, 290999, 291757, 300908,
        301196, 299016, 296479, 293828],
       ['수원시권선구', 310553, 308177, 304097, 306783, 321176, 332633, 331773,
        339835, 351053, 358393, 365653],
       ['수원시팔달구', 216945, 213235, 219833, 216503, 209772, 206794, 204805,
        203479, 199180, 198515, 193311],
       ['수원시영통구', 252730, 260210, 258421, 260557, 266542, 289074, 310671,
        329718, 335375, 340654, 349836],
       ['성남시수정구', 256744, 248452, 242161, 241070, 236123, 233997, 228167,
        223539, 219531, 232841, 236932],
       ['성남시중원구', 263101, 265137, 259877, 258093, 254872, 253883, 256349,
        251982, 250004, 237909, 230366],
       ['성남시분당구', 434115, 428858, 460688, 481027, 488328, 490735, 495018,
        499087, 501889, 503830, 500212],
       ['의정부시', 421853, 430849, 431008, 431801, 430400, 429147, 430976,
        431112, 433937, 438457, 441584],
       ['안양시만안구', 265881, 262820, 262258, 266261, 263077, 253492, 250246,
        247315, 247270, 252353, 254977],
       ['안양시동안구', 358316, 357459, 354289, 355453, 352565, 357920, 357631,
        353494, 350519, 345061, 332787],
       ['부천시원미구', 443290, 441795, 447136, 448602, 446247, 446604, 444207,
        442638, 442898, 442898, 442898],
       ['부천시소사구', 227484, 230155, 229335, 230557, 232190, 231363, 229959,
        226400, 222016, 222016, 222016],
       ['부천시오정구', 193263, 195728, 193473, 196045, 194015, 191977, 189554,
        186548, 184073, 184073, 184073],
       ['광명시', 313019, 310501, 314257, 343982, 355226, 355560, 353100,
        348560, 344978, 339484, 332790],
       ['평택시', 402458, 406721, 410042, 419457, 426886, 434305, 442034,
        449555, 460532, 470832, 481530],
       ['동두천시', 88780, 90835, 93211, 95653, 96253, 97175, 97557, 97595,
        97974, 98277, 97071],
       ['안산시상록구', 373969, 377005, 374055, 379136, 380880, 381556, 382571,
        381508, 379517, 375857, 370744],
       ['안산시단원구', 331071, 331252, 331291, 335755, 334706, 333552, 331095,
        326368, 318368, 314002, 306966],
       ['고양시덕양구', 378260, 386817, 388777, 394375, 391832, 396559, 410491,
        424423, 441988, 446233, 448684],
       ['고양시일산동구', 256493, 261358, 261943, 269292, 278095, 281949,
        283976, 284207, 285658, 292612, 293673],
       ['고양시일산서구', 290086, 290656, 288064, 286448, 291312, 291408,
        296104, 297524, 299900, 300839, 299626],
       ['과천시', 62291, 69477, 72049, 72279, 71955, 71068, 70578, 70156,
        68946, 63778, 57527],
       ['구리시', 196800, 195874, 195593, 196398, 194881, 192341, 189680,
        186820, 186721, 193763, 200042],
       ['남양주시', 492347, 505867, 525211, 564141, 578485, 599539, 618305,
        636256, 653454, 662154, 665321],
       ['오산시', 145825, 150237, 159734, 182516, 193892, 200291, 205460,
        208565, 206828, 208656, 213437],
       ['시흥시', 390564, 392756, 397912, 403797, 401149, 399485, 396765,
        394639, 398256, 402888, 419664],
       ['군포시', 275351, 277590, 275731, 287833, 287294, 286841, 286344,
        288408, 287519, 284890, 281205],
       ['의왕시', 135009, 134488, 140874, 147443, 149607, 154757, 159772,
        158482, 157740, 156763, 155767],
       ['하남시', 137131, 143638, 148566, 150479, 148397, 146269, 145096,
        148896, 166713, 211101, 232487],
       ['용인시처인구', 202714, 203805, 203620, 207935, 209200, 210524, 212904,
        218400, 221347, 226130, 231553],
       ['용인시기흥구', 301630, 315461, 340133, 357935, 368722, 375875, 393172,
        402206, 409162, 417163, 419429],
       ['용인시수지구', 295950, 297497, 295451, 310680, 318122, 329560, 335401,
        340420, 345237, 347833, 353099],
       ['파주시', 303831, 311164, 323011, 355632, 378790, 394201, 401718,
        411348, 423321, 430781, 437848],
       ['이천시', 195691, 196633, 197496, 202595, 204566, 204917, 205479,
        205014, 204935, 210359, 213142],
       ['안성시', 163733, 169545, 170919, 177937, 180743, 181608, 182173,
        181896, 180199, 182896, 182786],
       ['김포시', 205997, 220418, 225805, 238339, 256994, 287432, 312305,
        340310, 349990, 363443, 392092],
       ['화성시', 371972, 449354, 491528, 505838, 516765, 525490, 530251,
        540862, 596525, 640890, 691086],
       ['광주시', 229319, 234777, 238583, 249789, 265222, 275656, 286699,
        298858, 312579, 327723, 345947],
       ['양주시', 179914, 179914, 182106, 196706, 200360, 200310, 199143,
        202072, 205184, 205513, 212146],
       ['포천시', 158156, 160176, 158931, 158658, 157967, 157559, 156603,
        155798, 155192, 154763, 152925],
       ['여주시', 109343, 109343, 109343, 109343, 109343, 109343, 109343,
        110386, 111033, 111563, 111984],
       ['연천군', 45603, 45495, 45241, 45177, 44900, 45599, 45610, 45363,
        45725, 45907, 45431],
       ['가평군', 55698, 57108, 57564, 58890, 59358, 60794, 61017, 61213,
        62008, 62448, 62973],
       ['양평군', 87874, 89812, 91450, 95833, 99430, 102193, 103620, 105379,
        108316, 111367, 115105]], dtype=object)

In [25]:
df.columns

Index(['구분', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017'],
      dtype='object')

In [30]:
df.'2007'

SyntaxError: invalid syntax (<ipython-input-30-d871555a23dc>, line 1)