In [114]:
import numpy as np
import pandas as pd

In [126]:
crime = pd.read_excel('./data/Report.xls')

crime.drop(['합계.1','살인.1','강도.1','강간강제추행.1','절도.1','폭력.1'],axis=1,inplace=True)

#crime.set_index('기간',inplace=True)

crime = crime[~crime['자치구'].str.contains('합계')]
# display(crime)
#crime.drop('기간',inplace=True)
# display(crime)
crime.drop([0],axis=0,inplace=True)
display(crime)
crime['기간']=crime['기간'].astype(int)

crime = crime.groupby(['기간','자치구']).sum()

# crime['기간'].astype(int)
display(crime)

# crime=crime.copy()
# crime1 = crime.reset_index(drop=True, inplace=True)

       기간  자치구    합계  살인  강도 강간강제추행    절도    폭력
2    2014  종로구  5021   3  12    226  2272  2508
3    2014   중구  5231   6  13    221  2576  2415
4    2014  용산구  3799   1   7    213  1560  2018
5    2014  성동구  3582   1   5    141  1753  1682
6    2014  광진구  6268   8  16    249  3167  2828
..    ...  ...   ...  ..  ..    ...   ...   ...
126  2018  관악구  5026   9  10    352  2012  2643
127  2018  서초구  4726   5   5    470  1851  2395
128  2018  강남구  7513  10  14    600  3004  3885
129  2018  송파구  5807   5   6    309  2352  3135
130  2018  강동구  3919   3   7    170  1515  2224

[125 rows x 8 columns]

            합계  살인  강도  강간강제추행    절도    폭력
기간   자치구
2014 강남구  8851  13  37     512  3895  4394
     강동구  5392   5  10     148  2425  2804
     강북구  4030   6  21     189  1494  2320
     강서구  5289   8   9     214  2341  2717
     관악구  6781   7  25     361  3029  3359
...        ...  ..  ..     ...   ...   ...
2018 용산구  3411   1   3     331  1096  1980
     은평구  3590   8   1     188  1278  2115
     종로구  3690   6   3     236  1483  1962
     중구   4030   2  11     207  1855  1955
     중랑구  4288   4   3     174  1526  2581

[125 rows x 6 columns]

In [99]:
cctv = pd.read_excel('./data/서울시 자치구 년도별 CCTV 설치 현황(2011년 이전_2018년).xlsx')

cctv = cctv.drop(['소계','2011년 이전','2012년','2013년'],axis=1)
display(cctv.head())
cctv.columns = ['기관명',2014,2015,2016,2017,2018]
cctv['기관명']=cctv['기관명'].str.replace(" ","")
cctv = cctv.set_index('기관명')

cctv = cctv.unstack(level=0)
display(cctv)
# cctv=cctv.copy()
#cctv.reset_index(drop=True, inplace=True)

     기관명  2014년  2015년  2016년  2017년  2018년
0  강 남 구    430    546    765    577    448
1  강 동 구     59    144    194    273    385
2  강 북 구     74    145    254      1    319
3  강 서 구    230    187    190    264    254
4  관 악 구    487    609    619    694    671

      기관명
2014  강남구    430
      강동구     59
      강북구     74
      강서구    230
      관악구    487
            ...
2018  용산구     73
      은평구    367
      종로구    101
      중구     328
      중랑구      9
Length: 125, dtype: int64

In [97]:
pop = pd.read_excel('./data/서울시 주민등록인구 (구별) 통계(2014년~2018년).xls',header=1)
pop.set_index('기간',inplace=True)
pop.drop(['합계.1','합계.2','한국인.1','한국인.2','등록외국인.1','등록외국인.2','인구밀도','인구밀도.1','세대당인구','65세이상고령자'],axis=1,inplace=True)
# pop.set_index('기간',inplace=True)
pop = pop[~pop['자치구'].str.contains('합계')]
pop = pop.drop(pop.index[0])
# pop = pop.pivot('기간','자치구')

pop = pop.groupby(['기간','자치구']).sum()
display(pop)
# print(pop)
# pop=pop.copy()
# pop1 = pop.reset_index(drop=True, inplace=True)

# display(pop1)
# print(pop.info())

              세대       합계      한국인  등록외국인
기간   자치구
2014 강남구  937297  2307475  2286039  21436
     강동구  744959  1936767  1918344  18423
     강북구  564559  1358687  1345453  13234
     강서구  922213  2331624  2306299  25325
     관악구  994815  2135237  2062755  72482
...          ...      ...      ...    ...
2018 용산구  434764   980833   917976  62857
     은평구  815930  1954813  1937158  17655
     종로구  294965   654029   614790  39239
     중구   244728   541457   503654  37803
     중랑구  719845  1639053  1619941  19112

[125 rows x 4 columns]

In [128]:
merged = pd.concat([cctv,pop,crime],axis=1)
wtf=merged.to_excel('./data/merged1.xlsx')

In [110]:
wtf1 = pd.merge(crime,pop,left_on=['기관','자치구'],how='outer')
wtf1

TypeError: object of type 'NoneType' has no len()