In [1]:
import pandas as pd
import numpy as np

### 1. 데이터 전처리

In [292]:
cctv_list = pd.read_excel('./data/seoul_CCTV_len(2014~2018.xlsx')
crime_list = pd.read_csv('./data/seoul_crime_len(2014~2018).txt', sep='\t', encoding='UTF8', header=None)

In [265]:
crime_list.head(5)

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
0,5대범죄,5대범죄현황,2014,2014,2014,2014,2014,2014,2014,2014,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
1,5대범죄,5대범죄현황,합계,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
2,합계,발생,130674,5021,5231,3799,3582,6268,4363,5353,...,4629,4810,3293,5840,3100,5026,4726,7513,5807,3919
3,합계,검거,79061,4610,3188,2340,2048,3531,2882,3259,...,3469,3338,2567,3922,2090,3653,3183,5196,4051,2789
4,살인,발생,158,3,6,1,1,8,12,11,...,11,8,6,17,3,9,5,10,5,3

In [266]:
# 값이 '검거'인 항목을 제거하고 1번 컬럼 삭제
occur_crime = crime_list[1] != '검거'
crime_list = crime_list[occur_crime]
crime_list.drop([1], axis=1, inplace=True)
crime_list

,0,2,3,4,5,6,7,8,9,10,...,122,123,124,125,126,127,128,129,130,131
0,5대범죄,2014,2014,2014,2014,2014,2014,2014,2014,2014,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
1,5대범죄,합계,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
2,합계,130674,5021,5231,3799,3582,6268,4363,5353,4606,...,4629,4810,3293,5840,3100,5026,4726,7513,5807,3919
4,살인,158,3,6,1,1,8,12,11,8,...,11,8,6,17,3,9,5,10,5,3
6,강도,343,12,13,7,5,16,13,14,16,...,6,9,7,8,7,10,5,14,6,7
8,강간강제추행,5462,226,221,213,141,249,141,163,165,...,269,250,200,391,288,352,470,600,309,170
10,절도,59393,2272,2576,1560,1753,3167,1809,2390,2130,...,1724,1717,1168,2292,1151,2012,1851,3004,2352,1515
12,폭력,65318,2508,2415,2018,1682,2828,2388,2775,2287,...,2619,2826,1912,3132,1651,2643,2395,3885,3135,2224

In [267]:
t_crime_list = crime_list.T
t_crime_list.columns = ['년도', '지역', '합계', '살인', '강도', '강간강제추행', '절도', '폭력']
t_crime_list.drop([0],axis=0, inplace = True)
t_crime_list.reset_index(drop=True, inplace=True)
t_crime_list

       년도   지역      합계   살인   강도 강간강제추행     절도     폭력
0    2014   합계  130674  158  343   5462  59393  65318
1    2014  종로구    5021    3   12    226   2272   2508
2    2014   중구    5231    6   13    221   2576   2415
3    2014  용산구    3799    1    7    213   1560   2018
4    2014  성동구    3582    1    5    141   1753   1682
..    ...  ...     ...  ...  ...    ...    ...    ...
125  2018  관악구    5026    9   10    352   2012   2643
126  2018  서초구    4726    5    5    470   1851   2395
127  2018  강남구    7513   10   14    600   3004   3885
128  2018  송파구    5807    5    6    309   2352   3135
129  2018  강동구    3919    3    7    170   1515   2224

[130 rows x 8 columns]

In [268]:
t_crime_list[['합계', '살인', '강도', '강간강제추행', '절도', '폭력']] = t_crime_list[['합계', '살인', '강도', '강간강제추행', '절도', '폭력']].astype(int)
t_crime_list

       년도   지역      합계   살인   강도  강간강제추행     절도     폭력
0    2014   합계  130674  158  343    5462  59393  65318
1    2014  종로구    5021    3   12     226   2272   2508
2    2014   중구    5231    6   13     221   2576   2415
3    2014  용산구    3799    1    7     213   1560   2018
4    2014  성동구    3582    1    5     141   1753   1682
..    ...  ...     ...  ...  ...     ...    ...    ...
125  2018  관악구    5026    9   10     352   2012   2643
126  2018  서초구    4726    5    5     470   1851   2395
127  2018  강남구    7513   10   14     600   3004   3885
128  2018  송파구    5807    5    6     309   2352   3135
129  2018  강동구    3919    3    7     170   1515   2224

[130 rows x 8 columns]

In [269]:
#지역 항목중 '합계'인 항목 삭제
sum = t_crime_list['지역'] != '합계'
t_crime_list = t_crime_list[sum]

In [270]:
pivot_t_crime_list = t_crime_list.pivot_table(index=['년도','지역'])
pivot_t_crime_list.loc[ : , '합계']

년도    지역
2014  강남구    8851
      강동구    5392
      강북구    4030
      강서구    5289
      관악구    6781
             ...
2018  용산구    3411
      은평구    3590
      종로구    3690
      중구     4030
      중랑구    4288
Name: 합계, Length: 125, dtype: int32

In [271]:
# for i  in pivot_t_crime_list.index:
#     print(pivot_t_crime_list.loc[i , '합계'])

8851
5392
4030
5289
6781
6268
5389
3842
5312
3124
4363
3869
5740
4194
5558
3582
4606
8004
4642
7003
3799
5431
5021
5231
5353
8617
5244
4257
5585
6345
5909
5646
3781
5130
2664
4720
4074
5854
4029
5444
3358
4154
6778
4528
6867
3820
4745
4705
4954
5193
8149
4462
4229
5450
5678
5322
5366
3645
4543
2438
4787
3227
5873
3665
4989
3026
3744
6090
4112
6322
4137
4501
4459
4584
5041
7720
4261
3393
5135
5525
4646
4895
3265
4209
1999
3975
3330
5278
3113
4708
2767
3434
5576
3882
5969
4060
3883
4057
4184
4571
7513
3919
3437
4629
5026
3915
4810
3293
4007
2249
3680
3100
5172
2802
4726
2457
3042
5807
3515
5840
3411
3590
3690
4030
4288

In [275]:
pivot_t_crime_list

          강간강제추행  강도  살인    절도    폭력    합계
년도   지역
2014 강남구     512  37  13  3895  4394  8851
     강동구     148  10   5  2425  2804  5392
     강북구     189  21   6  1494  2320  4030
     강서구     214   9   8  2341  2717  5289
     관악구     361  25   7  3029  3359  6781
...          ...  ..  ..   ...   ...   ...
2018 용산구     331   3   1  1096  1980  3411
     은평구     188   1   8  1278  2115  3590
     종로구     236   3   6  1483  1962  3690
     중구      207  11   2  1855  1955  4030
     중랑구     174   3   4  1526  2581  4288

[125 rows x 6 columns]

### 2. CCTV 전처리

In [293]:
cctv_list

     기관명    소계  2014  2015  2016  2017  2018
0    강남구  2766   430   546   765   577   448
1    강동구  1055    59   144   194   273   385
2    강북구   793    74   145   254     1   319
3    강서구  1125   230   187   190   264   254
4    관악구  3080   487   609   619   694   671
5    광진구   986    87    64    21   468   346
6    구로구  1807   187   268   326   540   486
7    금천구  1348   101   382   136   199   530
8    노원구  1105    80   461   298   110   156
9    도봉구   587   185    59   155   117    71
10  동대문구  2003  1326   111   233   136   197
11   동작구  1420   503   130   254   278   255
12   마포구  1935    70   177   359   372   195
13  서대문구  1109   114   109   277   415   194
14   서초구  1344   134   215   352   247   396
15   성동구  1787   101   258   201   933   294
16   성북구  1836   241   279   388   285   643
17   송파구   799    21   166   100   116   396
18   양천구  1657   169   172   349   137   830
19  영등포구  2036   217   366   289   371   793
20   용산구  2063   107   102    89    60    73
21   은평구  1415   343   180   296   229   367
22   종로구   857   132   195   148   281   101
23    중구  1240    80   245   270   317   328
24   중랑구  1068   770   102   121    66     9

In [294]:
# 불필요 항목 제거('소계')
cctv_list = cctv_list.drop(['소계'], axis=1)

In [297]:
t_cctv_list = cctv_list.T

In [302]:
t_cctv_list.columns = t_cctv_list.loc['기관명']
t_cctv_list

기관명,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,도봉구,...,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구
기관명,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,도봉구,...,성동구,성북구,송파구,양천구,영등포구,용산구,은평구,종로구,중구,중랑구
2014,430,59,74,230,487,87,187,101,80,185,...,101,241,21,169,217,107,343,132,80,770
2015,546,144,145,187,609,64,268,382,461,59,...,258,279,166,172,366,102,180,195,245,102
2016,765,194,254,190,619,21,326,136,298,155,...,201,388,100,349,289,89,296,148,270,121
2017,577,273,1,264,694,468,540,199,110,117,...,933,285,116,137,371,60,229,281,317,66
2018,448,385,319,254,671,346,486,530,156,71,...,294,643,396,830,793,73,367,101,328,9

In [303]:
t_cctv_list.loc['2014', '강남구']

KeyError: '2014'